.sidebar{
    width: 20%;
    min-height: 100vh;
    border: 1.4px solid #a9a9a9;
    border-top: 0;
    font-size: 16px;
}

.sidebar-options{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top:50px;
    padding-left: 28%;
}

.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #a9a9a9;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    padding: 8px 10px;
    cursor: pointer;
}
.sidebar-option.active{
    background-color: #141313;
    border-color: tomato;
}

.icon{
    font-size: 26px;
}

@media (max-width:900px) {
    .sidebar-option p{
        display: none;
    }
    
}