.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  margin-top: 6rem;
  padding: 4rem 8rem 1.4rem 8rem;
  background-color: rgb(15, 14, 14);
  color: rgb(252, 251, 251);

}
.footer-content {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer-left,
.footer-mid,
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.footer-mid li,
.footer-right li {
  list-style: none;
  cursor: pointer;
}

hr {
  height: 2px;
  width: 100%;
}

.footer-left .logo {
  position: relative;
  font-size: 2.4rem;
  font-weight: 800;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.footer-left .logo .highlight {
  font-size: 2.2rem;
  color: rgb(238, 169, 33);
  text-shadow: none;
}

.logo span {
  font-style: italic;
  color: lightcoral;
  text-shadow: 0 0 16px lightcoral;
}

.logo:hover {
  transform: scale(1.04);
}

.footer-social-icons {
  display: inline-flex;
  gap: 1rem;
}

.footer-social-icons a {
  font-size: 2rem;
  padding: 0.2rem;
  transition: 0.3s ease-in-out;
}

.footer-social-icons a:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.footer-social-icons a:nth-of-type(1):hover{
    color: #1877F2;
}
.footer-social-icons a:nth-of-type(2):hover{
    color: #F58529;
}
.footer-social-icons a:nth-of-type(3):hover{
    color: #1DA1F2;
}
.footer-social-icons a:nth-of-type(4):hover{
    color:  #0077B5;
}
.footer-copyright{
    font-weight: 600;
}

@media (max-width:750px) {
  .footer-content{
    display: flex;
    flex-direction: column;
    gap: 34px;
    align-items: center;
    text-align: center;
  }
  .footer-copyright{
    text-align: center;
  }
  
}